body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#navbar-logo {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  font-size: 1.2rem;
}

#title {
  padding: 3% 15% 7%;
  background-color: #ff4c68;
  height: 100%;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  margin: 7% 0%;
  color: whitesmoke;
}

.title-image {
  width: 15%;
  transform: rotate(25deg);
  position: absolute;
  margin-left: 13%;
  margin-top: 3%;
}

.btn-style {
  margin-left: 2%;
}

/* Features */

#features {
  margin: 7% 15%;
}

.feature-box {
  padding: 0% 10px;
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  text-align: center;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  padding: 0% 15%;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* Press */
#press {
  padding: 0% 15%;
  background-color: #ef8172;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.press-logo {
  width: 20%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 7% 15%;
  text-align: center;
}

.pricing-head {
  padding-bottom: 20px;
}

.pricing-head h2 {
  font-size: 3rem;
}

.pricing-head p {
  font-size: 1.5rem;
}

#pricing h5 {
  font-size: 2rem;
}

/* cta */
#cta {
  padding: 3% 15% 7%;
  background-color: #ff4c68;
  height: 100%;
  text-align: center;
}

#cta h3 {
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 7% 0%;
  color: whitesmoke;
}

/* footer */
#footer {
  text-align: center;
  padding: 3% 15%;
}

#footer i {
  padding: 3%;
  color: #333;
}

#footer i:hover {
  color: #ff4c68;
}

/* media query */
@media (max-width: 1010px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
}
